.UpdateProfile{
    .input-user-img{
        display: flex;
        justify-content: center;
        align-items: center;

        .lableImg{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid var(--accent-color);
            cursor: pointer;

            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .InputImg{
            display: none;
        }
    }
}