.Feed{
  height: calc(900vh - 60px);
  margin-top: 60px;
  .container{
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
  .left-part{
    flex: 5;
    //background: red;
    overflow-y: auto;
    height: 900px;

  }
  .right-part{
    flex: 2;
    margin-top: 20px;
    height: 400px;
  }
}